//-----------------------------------------------------------------------------
// Helpers: Variables.
//-----------------------------------------------------------------------------

// Base colors.
$color-white: #ffffff;
$color-black: #000000;

$color-light-blue: #199ed9;
$color-blue: #3399ff;

$color-grey-lighter: #cccccc;
$color-grey: #aaaaaa;

// Main colors.
$color-primary: $color-light-blue;
$color-primary-darker: $color-blue;

// Fonts.
$font-lato: 'Lato', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;

// Transitions.
$transition-linear: all .35s linear;

// z-index values.
$z-index-header: 100;
$z-index-navigation: 200;


//-----------------------------------------------------------------------------
// Sizes (Desktop First).
//-----------------------------------------------------------------------------

// Page Wrap.
$page-wrap-max-width: 90rem; // 1440px

// Content Wrap.
$content-wrap-max-width: 75rem; // 1200px

// Breakpoints.
$breakpoint-1: 90.0rem; // 1440px
$breakpoint-2: 64.0rem; // 1024px
$breakpoint-3: 22.5rem; // 360px
