//-----------------------------------------------------------------------------
// Helpers: Variables.
//-----------------------------------------------------------------------------

// Base colors.
$color-white: #ffffff;
$color-black: #000000;

$color-blue-lighter: #3fc4ff;
$color-blue-light: #199ed9;
$color-blue: #3399ff;

$color-grey-lighter: #cccccc;
$color-grey: #aaaaaa;

$color-green: #168f48;
$color-red: #ea6153;
$color-red-darker: #a51728;

// Main colors.
$color-primary-brighter: $color-blue-lighter;
$color-primary: $color-blue-light;
$color-primary-darker: $color-blue;

// Fonts.
$font-lato: 'Lato', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;

// Transitions.
$transition-linear: all .35s linear;
$transition-ease-in-out: all .35s ease-in-out;

// z-index values.
$z-index-header: 100;
$z-index-navigation: 200;

// Navigation settings.
$nav-width: 96px;
$icon-width: 48px;


//-----------------------------------------------------------------------------
// Sizes (Desktop First).
//-----------------------------------------------------------------------------

// Page Wrap.
$page-wrap-max-width: 90rem; // 1440px

// Content Wrap.
$content-wrap-max-width: 75rem; // 1200px

// Breakpoints.
$breakpoint-1: 90.0rem; // 1440px
$breakpoint-2: 64.0rem; // 1024px
$breakpoint-3: 22.5rem; // 360px
