//-----------------------------------------------------------------------------
// Helpers: Variables.
//-----------------------------------------------------------------------------

// Colors.
$color-white: #ffffff;
$color-black: #000000;

$color-light-blue: #199ed9;

//-----------------------------------------------------------------------------
// Sizes (Desktop First).
//-----------------------------------------------------------------------------

// Page Wrap.
$page-wrap-max-width: 90rem; // 1440px

// Content Wrap.
$content-wrap-max-width: 75rem; // 1200px

// Breakpoints.
$breakpoint-1: 90.0rem; // 1440px
$breakpoint-2: 64.0rem; // 1024px
$breakpoint-3: 22.5rem; // 360px
