//-----------------------------------------------------------------------------
// Base: Wrappers.
//-----------------------------------------------------------------------------

.content {
  padding-left: $nav-width + 32px;
  padding-right: 32px;
  margin: 0 auto;
  max-width: $content-wrap-max-width;

  @media screen and (max-width: $breakpoint-2) {
    padding-left: $nav-width + 16px;
    padding-right: 16px;
  }
}
