//-----------------------------------------------------------------------------
// Base: Wrappers.
//-----------------------------------------------------------------------------

.content {
  padding-left: $nav-width;
  margin: 0 auto;
  max-width: $content-wrap-max-width;
}
