//-----------------------------------------------------------------------------
// Components: Buttons.
//-----------------------------------------------------------------------------

.button {
  background-color: transparent;
  border: solid 1px white;
  border-radius: 100px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: $font-montserrat;
  font-size: 0.9rem;
  font-style: italic;
  line-height: 1;
  padding: 0.75rem 2rem;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;
  @include prefix((transition: $transition-ease-in-out));

  &.button-primary {
    background-color: $color-black;
    color: $color-white;

    &:hover {
      background-color: $color-white;
      border-color: $color-black;
      color: $color-black;
    }
  }

  &.button-add {
    background-color: $color-green;
    color: $color-white;

    &:hover {
      background-color: $color-white;
      border-color: $color-green;
      color: $color-green;
    }
  }

  & + .button {
    margin-left: 0.5rem;

    @media screen and (max-width: $breakpoint-3) {
      display: block;
      margin-left: 0;
      margin-top: 0.5rem;
      width: 100%;
    }
  }

  @media screen and (max-width: $breakpoint-3) {
    display: block;
    margin-left: 0;
    width: 100%;
  }
}
