//-----------------------------------------------------------------------------
// Components: Navigation.
//-----------------------------------------------------------------------------

aside {
  background-color: $color-primary;
  border-right: solid 1px $color-white;
  bottom: 0;
  left: 0;
  position: fixed;
  top: 0;
  z-index: $z-index-navigation;

  nav {
    border-top: solid 1px $color-white;
    display: none;

    .menu-item {
      align-items: center;
      display: flex;
      justify-content: center;
      text-align: center;

      a {
        border-bottom: solid 1px $color-white;
        color: $color-white;
        font-family: $font-lato;
        height: $nav-width;
        padding: 16px 0;
        text-decoration: none;
        width: $nav-width;
        @include prefix((transition: $transition-ease-in-out));

        @media screen and (max-width: $breakpoint-2) {
          font-size: 0.8rem;
          height: $nav-width / 1.5;
          padding: 8px 0;
        }

        .icon--wrap {
          img {
            width: $icon-width;

            @media screen and (max-width: $breakpoint-2) {
              width: 32px;
            }
          }
        }
      }
    }
  }
}

.user-logged-in aside nav {
  display: block;
}
