//-----------------------------------------------------------------------------
// Components: Navigation.
//-----------------------------------------------------------------------------

aside {
  background-color: $color-primary;
  border-right: solid 1px $color-white;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  z-index: $z-index-navigation;

  nav {
    .menu-item {
      align-items: center;
      display: flex;
      justify-content: center;
      text-align: center;

      a {
        border-bottom: solid 1px $color-white;
        color: $color-white;
        display: block;
        font-family: $font-lato;
        height: $nav-width;
        padding: 16px 0;
        text-decoration: none;
        width: $nav-width;
        @include prefix((transition: $transition-ease-in-out));

        &:hover {
          background-color: $color-blue-lighter;
        }

        .icon--wrap {
          img {
            width: 64px;
          }
        }
      }
    }
  }
}
