//-----------------------------------------------------------------------------
// Components: Statistic.
//-----------------------------------------------------------------------------

.dashboard fieldset {
  text-align: center;
  width: 100%;
}

.statistic {
  display: inline-block;
  font-family: $font-lato;
  height: 95px;
  margin: 1.5rem 1rem 1rem;
  padding-top: 1.75rem;
  position: relative;
  vertical-align: top;
  width: 95px;

  &.statistic--lines-2 {
    padding-top: 1.25rem;
  }

  @media screen and (max-width: $breakpoint-2) {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  span {
    display: block;
    font-size: 1.5rem;
    font-weight: normal;
  }

  canvas {
    left: 0;
    position: absolute;
    top: 0;
  }
}
