//-----------------------------------------------------------------------------
// Components: Statistic.
//-----------------------------------------------------------------------------

.dashboard fieldset {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.statistic {
  display: inline-block;
  font-family: $font-lato;
  height: 95px;
  margin: 1.5rem 1rem 1rem;
  padding-top: 1.75rem;
  position: relative;
  vertical-align: top;
  width: 95px;

  &.statistic--lines-2 {
    padding-top: 1.25rem;
  }

  span {
    display: block;
    font-size: 1.5rem;
    font-weight: normal;
  }

  canvas {
    left: 0;
    position: absolute;
    top: 0;
  }
}
