//-----------------------------------------------------------------------------
// Components: Tables.
//-----------------------------------------------------------------------------

.table-wrap {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;

  th,
  td {
    border: solid 1px black;
    padding: 0.25rem 0.5rem;
    text-align: left;
  }

  th {
    background-color: $color-primary;
    color: $color-white;
    font-family: $font-montserrat;
  }

  td {
    &.winning {
      font-family: $font-montserrat;
      color: $color-green;
    }

    &.losing {
      font-family: $font-montserrat;
      color: $color-red;
    }
  }
}
